[Unit]
Description=ClockTwo
Requires=local-fs.target
Requires=network-online.target

[Service]
Type=simple
StandardInput=null
ExecStart=/home/pi/piCLOCKTWO/startup.sh
WorkingDirectory=/home/pi/piCLOCKTWO

[Install]
WantedBy=default.target
